.Canvas {
  text-align: center;
  width: 99.9vw;
  height: 99.9vh;
  background-color: #282c34;
}

body{overflow: hidden;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
